<p>
<h2><%= image_tag 'bitcoin.jpg', :size => '100x69' %>  BTC_JPY</h2>
</p>
<br>
<h4>売買情報を入力し収支計算ボタンを押してください</h4>
<br>
<%= render 'form', gain: @gain %>

<!-- <%= link_to '売買通貨履歴', gains_path %> -->
