
<p id="notice"><%= notice %></p>
<h2>売買通貨履歴</h2>

<table>
  <thead>
    <tr>
      <th>購入通貨日時</th>
      <th>終値</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shares.each do |share| %>
      <tr>

        <td><%= share.create_at %></td>
        <!-- <td><%= share.btcjpy %></td> -->
        <td><%#= share.amount %></td>
        <td><%#= link_to '詳細', share %></td>
        <td><%#= link_to '編集', edit_share_path(share) %></td>
        <td><%#= link_to '削除', share, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '仮想通貨売買へ', new_share_path %>
