<div>
 <p>
  <h2><%= image_tag 'ethereum.png', :size => '69x69' %> Ethereum</h2>
 </p>
</div>

<h3>ETH_JPY</h3>
<br>
<%= render 'form', share: @share %>

<%#= link_to '仮想通貨売買履歴', shares_path %>

<%#= link_to"収支計算",new_gain_path %>
