<p>
<h2><%= image_tag 'ethereum.jpg', :size => '69x69' %>  ETH_JPY</h2>
</p>
<br>
 <h4>売買情報を入力し収支計算ボタンを押してください</h4>
<br>
<%= render 'form', share: @share %>

<%#= link_to '仮想通貨売買履歴', shares_path %>

<%#= link_to"収支計算",new_gain_path %>
