// Place all the styles related to the shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  width: 100%;
  background-color:#0a6970;
  padding: 10px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  letter-spacing: 50px;
  height: 60px;
}

footer ul li {
  position: absolute;
  padding-bottom: 20px;
  bottom: 0;
  right: -500px;
  list-style: none;
  display: block;
  word-spacing: 30px;
}

footer li {
  position: absolute;
  padding-bottom: 20px;
  left: 30px;
  bottom: 0;
  list-style: none;
  display: block;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  background-color: #FFFFFF;
}

header {
  width: 100%;
  background-color: #0a6970;
  height: 50px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #e5f0e6;
}

header li {
  float: left;
  width: auto;
  color: #e5f0e6;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

div h2 {
max-width: 50%;
color: #666666;
margin: 0 auto;
}

p {
  padding-top: 10px;
  max-width: 50%;
  margin: 0 auto;
  color: #000000;
}

h1 {
  color: #FF0000;
}

h3 {
  color: #BDB76B;
}

/* --- ボックス --- */
div.section {
width: 350px; /* ボックスの幅 */
padding-bottom: 5px; /* ボックスの下パディング */
background: #F5F5F5 url(maru2_300_bottom.gif) no-repeat bottom; /* ボックスの背景 */
font-size: 80%;
color: #000000;
margin: auto;
border-width: thin;
border-color: #D3D3D3;
border-style: outset;
}

/* --- 見出し --- */
div.section h3 {
margin: 0; /* 見出しのマージン */
padding: 1em 15px 0 10px; /* 見出しのパディング（上右下左） */
background: #F5F5F5 url(maru2_300_top.gif) no-repeat top; /* 見出しの背景 */
font-size: 100%; /* 見出しの文字サイズ */
}

/* --- ボックス内の段落 --- */
div.section p {
margin: 1em 15px 1em 10px; /* 段落のマージン（上右下左） */
margin: auto;
position: center;
}

/* --- ボックス --- */
div.sectionneo {
width: 350px; /* ボックスの幅 */
padding-bottom: 5px; /* ボックスの下パディング */
background: #F0FFFF url(maru2_300_bottom.gif) no-repeat bottom; /* ボックスの背景 */
font-size: 100%;
color: #000000;
margin: auto;
border-width: thin;
border-color: #D3D3D3;
border-style: outset;
}

/* --- ボックス内の段落 --- */
div.sectionneo p {
margin: 1em 15px 1em 10px; /* 段落のマージン（上右下左） */
margin: auto;
position: center;
}

/* --- ボックス --- */
div.sectiongo {
width: 150px; /* ボックスの幅 */
padding-bottom: 5px; /* ボックスの下パディング */
background: #F0FFFF url(maru2_300_bottom.gif) no-repeat bottom; /* ボックスの背景 */
font-size: 100%;
color: #000000;
margin: auto;
border-width: thin;
border-color: #F5F5F5;
border-style: solid;
height: 40px;
}

/* --- ボックス内の段落 --- */
div.sectiongo h3 {
margin: 1em 15px 1em 10px; /* 段落のマージン（上右下左） */
margin: auto;
position: center;
line-height: 40px;
}
